base58==0.2.5
certifi==2022.12.7
chardet==3.0.4
future==0.16.0
idna==2.6
jsonrpcclient==2.5.2
jsonschema==2.6.0
psycopg2-binary==2.7.4
pyblake2==1.1.1
python-axolotl-curve25519==0.1
PyWaves==0.8.4
requests==2.18.4
SQLAlchemy==1.2.5
urllib3==1.22
Flask==0.12.2
gunicorn==19.7.1
